* {
    font-size: 18px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.nav-item1  {
    font-weight: 9px;
}
.board {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
}

.title {
    border: 2px;
    border-bottom: black;
    text-align: center;
    box-shadow: 5px 10px #888888;
    height: 15%;
    width: 30%;
    background-color: whitesmoke;
}
.sildeshow {
    border-radius: 5px;
    width: 80%;
    padding-top: 15px ;
    padding-left: 50px ;
}
